.todo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  overflow-y: overlay;
  border: 1px solid red;
  height: 99%;

  .cell {
    margin-top: 10%;
    width: 80vw;
    border: 1px solid green;

    .cell-context {
      // border: 1px solid black;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  #done {
    background-color: rgb(215, 215, 215);
  }
  #todo {
  }
  .add-button {
    width: fit-content;
    height: fit-content;
    padding: 0%;
    z-index: 2;
    position: absolute;
    right: 5%;
    top: 80%;
  }

  .detail-context {
    display: flex;
    flex-direction: column;
    #detail-time {
      margin-top: 5%;
    }
    #detail-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 0%;
    }
  }
}
