$BASEURL: "http://localhost:8080";
$GETPICPATH: "/getPicTheme";
$GETPASS: "pass=songzq12";

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  overflow-y: scroll;
  border: 1px solid red;
  height: 100%;

  .title {
    width: 100vw;
    height: fit-content;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    background-color: bisque;
  }

  .pic-swiper {
    width: 100vw;
    height: 30%;
    .image-swiper {
      img {
        margin-left: 5%;
        width: 90%;
      }
    }
  }
  .divider1 {
    margin-top: 10%;
    width: 95vw;
  }
  .pic-theme {
    border: 1px solid green;

    height: 59%;
    width: 100vw;

    .dif-theme {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // border: 1px solid red;
      height: 25%;
      width: 100vw;
      overflow-x: scroll;
      p {
        margin-left: 5%;
      }
      .img-line {
        display: flex;
        flex-direction: row;
        // border: 1px solid red;
        width: 100vw;
        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-left: 0%;

        .img {
          flex-shrink: 0;
          margin-left: 4%;
          height: 100%;
          width: 20%;
          border-radius: 15%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
        }
        .upload {
          margin: auto;
          margin-left: 0%;
        }
      }
      ::-webkit-scrollbar {
        display: none;
      }

      .divider2 {
        margin-left: 2.5vw;
        margin-top: 1%;
        width: 95vw;
      }
    }
  }
}
