.person-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-y: overlay;


  .avatar{
  }
  .divider {
    width: 100vw;
  }
  .content{
    width: 90vw;
  }
}
