.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-board {
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.login-form{
  display: flex;
  flex-direction: column;
  .login-cell{
    display: flex;
    flex-direction: row;
  }
}